# Ignore database files
*.db

# Ignore old version folders full of images
Version 2/
Version 3.1/
Version 3.2/
Version 3.3/vulture_tracker_images_v3/
vulture_tracker_images_v3/

# Standard Python cache files
__pycache__/
*.pyc
